 .u-section-1 {
  min-height: 797px;
}

.u-section-1 .u-sheet-1 {
  min-height: 917px;
}

.u-section-1 .u-text-1 {
  width: 245px;
  margin: 163px auto 0;
}

.u-section-1 .u-image-1 {
  width: 208px;
  height: 167px;
  margin: 23px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  width: 185px;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 182px;
  height: 219px;
  margin: 73px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 331px;
  }

  .u-section-1 .u-image-2 {
    height: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 44px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 191px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 152px;
    margin-top: 121px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 36px;
  }
}